/*
Color:
Primary: #417CA9
Accent:#EDEBE4
White: #FFFFFF
Text: #000000
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  font-weight: 300px;
  line-height: 1.6;
}

main {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300px;
  line-height: 1.6;
  color: #000000;
}

footer {
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.project-button {
  display: inline-block;
  background-color: #EDEBE4;
  color: #417CA9;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #EDEBE4;
  transition: 0.2s opacity;
  text-decoration: none;
}

.email-button {
  display: inline-block;
  background-color: #EDEBE4;
  color: #417CA9;
  font-weight: 400;
  padding: 10px 10px 2px 10px;
  margin: 30px;
  border-radius: 3px;
  border-bottom: 2px solid #EDEBE4;
  transition: 0.2s opacity;
  text-decoration: none;
}

.top-button {
  display: inline-block;
  background-color: #EDEBE4;
  color: #417CA9;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #EDEBE4;
  transition: 0.2s opacity;
  text-decoration: none;
}

.resume-button {
  display: inline-block;
  background-color: #EDEBE4;
  color: #417CA9;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #EDEBE4;
  transition: 0.2s opacity;
  text-decoration: none;
}

.resume-button:hover, .resume-button:focus {
  background-color: #417CA9;
  color: #FFFFFF;
}

.top-button:hover, .top-button:focus {
  background-color: #417CA9;
  color: #FFFFFF;
}

.email-button:hover, .email-button:focus {
  background-color: #417CA9;
  color: #FFFFFF;
}

.project-button:hover, .project-button:focus {
  background-color: #417CA9;
  color: #FFFFFF;
}

.menu-button {
  color: #292929;
  text-decoration: none;
}

.menu-button:hover, .menu-button:focus {
  color: #b7b7b7;
  text-decoration: underline;
}

.resume-link {
  color: #000000;
}

.resume-link:visited {
  color: #417CA9;
}

.resume-link:hover, .resume-link:focus {
  color: ##85C1E9;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  text-align: center;
  background-color: #ffe4cf;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  background-color: #ffe4cf;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  background-color: #ffe4cf;
  padding: 20px 0px 0px 0px;
  display: inline-block;
  width: 100%;
}

#about-title {
  background-color: #ffe4cf;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

#me {
  background-color: #ffe4cf;
  display: inline-block;
  width: 100%;
}

#project-1 {
  background-color: #ffe4cf;
}

/*
#my-image {
  float: left;
}

**For later use**

*/

.social-links {
  /* display: flex;
  justify-content: space-evenly; */
  margin: 10px 0;
}

#work h2 {
  text-align: center;
}

#contact h2 {
  margin: 10px 0;
}

.footer-container {
  text-align: center;
}

.center {
  text-align: center;
}

.interested {
  text-align: center;
  margin: 50px 0;
}

#resume {
  text-align: center;
  padding-top: 20px;
}

.logo {
  max-width: 250px;
}

.top-button {
  text-align: right;
}

.return {
  text-align: right;
}

header {
  text-align: center;
  padding: 10x 0;
  background-color: #ffe4cf;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
}

main {
  padding-top: 135px;
}
