* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

main {
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

footer {
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.project-1 picture {
  display: block;
}

.project-1 img {
  display: block;
}

.project-2 picture {
  display: block;
}

.project-2 img {
  display: block;
}

.project-button {
  display: inline-block;
  background-color: #edebe4;
  color: #1e1f20;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s opacity;
}

.email-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 30px;
  margin: 15px;
  transition: 0.8s opacity;
}

.top-button {
  display: inline-block;
  background-color: #edebe4;
  color: #1e1f20;
  font-size: 31px;
  font-weight: 400;
  padding: 20px 100px;
  transition: 0.8s opacity;
  text-decoration: none;
}

.resume-button {
  display: inline-block;
  background-color: #edebe4;
  color: #1e1f20;
  font-weight: 400;
  padding: 24px 20px 20px;
  transition: 0.8s opacity;
  text-decoration: none;
}

.icon {
  background-color: inherit;
  color: #292929;
}

.resume-button:hover {
  background-color: #30d5c8;
  color: #fff;
  opacity: 0.9;
}

.email-button:hover {
  background-color: #fff;
  color: #000;
  opacity: 0.8;
}

.project-button:hover {
  background-color: #30d5c8;
  color: #fff;
  opacity: 0.9;
}

.menu-button {
  display: inline-block;
  background-color: inherit;
  color: #292929;
  text-decoration: none;
}

.menu-button::before {
  position: absolute;
  color: #30d5c8;
  overflow: hidden;
  content: attr(title);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.menu-button:hover::before {
  transform: scale(1);
  opacity: 1;
}

.menu-button::before {
  transform: scale(1.5);
}

.menu-button::after {
  content: '';
  position: relative;
  left: 30px;
  display: block;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(110, 110, 110, 0.9);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.menu-button:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.contact-menu-button {
  background-color: inherit;
  color: #292929;
  text-decoration: none;
  display: inline-block;
}

.contact-menu-button::before {
  position: absolute;
  color: #30d5c8;
  overflow: hidden;
  content: attr(title);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.contact-menu-button:hover::before {
  transform: scale(1);
  opacity: 1;
}

.contact-menu-button::before {
  transform: scale(1.5);
}

.contact-menu-button::after {
  content: '';
  position: relative;
  left: 44px;
  display: block;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(110, 110, 110, 0.9);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.contact-menu-button:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.resume-link {
  background-color: inherit;
  color: #000;
}

.resume-link:visited {
  background-color: inherit;
  color: #417ca9;
}

.resume-link:hover {
  background-color: inherit;
  color: #85c1e9;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9dddc;
  font-family: 'Lato', sans-serif;
}

.resume_column_col-12 {
  text-align: center;
}

#hero {
  text-align: center;
  background-color: #1e1f20;
  color: #edebe4;
  padding: 20px 0 50px;
  display: inline-block;
  width: 100%;
}

#work {
  background-color: #fff;
  color: #1e1f20;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work h2,
h3,
p {
  color: #1e1f20;
}

#contact {
  background-color: #3a3c41;
  color: inherit;
  padding: 20px 0 0;
  display: inline-block;
  width: 100%;
}

#contact p {
  background-color: inherit;
  color: #fff;
}

#about-hero {
  background-color: #fff;
  color: inherit;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

#about-hero .row {
  color: #1e1f20;
}

#me {
  background-color: #fff;
  color: inherit;
  display: inline-block;
  width: 100%;
}

#project-1 {
  background-color: #fff;
  color: inherit;
}

#work h2 {
  text-align: center;
}

#contact h2 {
  margin: 50px 30px 30px;
}

#resume {
  text-align: center;
  padding-top: 20px;
}

#return-to-top:hover {
  background: rgba(64, 224, 208, 1);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.row.end h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
  color: #2f2e41;
  margin-top: 50px;
  text-align: center;
}

.row.end h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  color: #2f2e41;
  margin-top: 25px;
  text-align: center;
}

.row.thumbnail h2,
.row.svg h2,
.row.animation h2,
.row.intro h2,
.row.results h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  color: #2f2e41;
  margin-top: 50px;
}

.row.animation h3,
.row.light h3,
.row.alien1 h3,
.row.alien2 h3,
.row.intro h3,
.row.results h3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #3572e9;
}

.row.thumbnail p,
.row.animation p,
.row.alien2 p,
.row.light_p,
.row.svg p,
.row.light p,
.row.alien1 p,
.row.results p {
  margin-bottom: 50px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #191919;
  list-style-type: none;
}

.css-column.col-6 p,
.css-column.col-3 ul li {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #191919;
  list-style-type: none;
}

.aliens {
  width: 100%;
  height: auto;
  background-color: #dedede;
}

.prototype {
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.prototype iframe {
  background-color: transparent;
  border: none;
  border-width: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.about-column.col-12 img {
  padding: 0 25px;
}

.about-column.col-12 h2 {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 500;
  background-color: #30d5c8;
  color: #fff;
}

.row.about {
  margin-top: 50px;
}

.story-header {
  text-align: center;
}

.story {
  font-family: 'Lato', sans-serif;
  color: #1e1f20;
}

.row.resume {
  margin-top: 30px;
  text-align: center;
}

.image-resume {
  display: inline;
}

.content {
  display: block;
}

.footer-container {
  text-align: center;
}

.footer-container h2 {
  font-size: 30px;
  background-color: inherit;
  color: #fff;
}

.center {
  text-align: center;
}

.interested {
  color: #1e1f20;
  text-align: center;
  margin: 50px 15px;
}

#ship {
  animation: ship-move 0.2s ease-in-out infinite alternate;
}

@keyframes ship-move {
  from {
    transform: translateY(-2px);
  }

  to {
    transform: translateY(2px);
  }
}

#beam {
  animation: beams 1s linear infinite;
}

@keyframes beams {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(-100px);
  }
}

#alien2 {
  animation: alien-move 0.8s ease-out alternate infinite;
}

@keyframes alien-move {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

#alien2_left_arm {
  animation: scared 0.2s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

#alien2_right_arm {
  animation: scared 0.2s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

#alien2_right_leg {
  animation: kick 0.2s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

#alien2_left_leg {
  animation: kicks 0.2s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

#alien2_pupil {
  animation: back_forth 0.3s linear alternate infinite;
}

#alien2_mouth {
  animation: scream 0.5s linear alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#alien2_hat {
  animation: float 0.35s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#alien1_left_leg {
  animation: left_step 0.1s linear alternate infinite;
}

#alien1_right_leg {
  animation: right_step 0.1s linear alternate infinite;
}

#alien1_body,
#alien1_hat {
  animation: body_move 0.1s linear alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#alien1_pupil {
  animation: eye_move 0.3s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#alien1_eyeball {
  animation: eye_grow 0.2s linear alternate infinite;
}

#alien1_mouth {
  animation: mouth_small 0.3s ease-in-out alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#alien1_right_arm {
  animation: point 0.1s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

#alien1_left_arm {
  animation: swing 0.1s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes swing {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(20deg);
  }
}

@keyframes point {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(20deg);
  }
}

@keyframes mouth_small {
  from {
    transform: scaleX(0.8);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes eye_grow {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(50);
  }
}

@keyframes eye_move {
  from {
    transform: translateX(-1) translateY(-1);
  }

  to {
    transform: translateX(1px) translateY(-1px);
  }
}

@keyframes body_move {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1.1);
  }
}

@keyframes left_step {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

@keyframes right_step {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes float {
  from {
    transform: translateY(-20px) rotateZ(-30deg);
  }

  to {
    transform: translateY(-40px) rotateZ(30deg);
  }
}

@keyframes scream {
  from {
    transform: scaleX(0.5) scaleY(0.5);
  }

  to {
    transform: scaleX(1) scaleY(1.5);
  }
}

@keyframes back_forth {
  from {
    transform: translate(-2px);
  }

  to {
    transform: translate(2px);
  }
}

@keyframes kicks {
  from {
    transform: translateX(2) rotateZ(0deg);
  }

  to {
    transform: translateX(-2px) rotateZ(20deg);
  }
}

@keyframes kick {
  from {
    transform: translateX(-2px) rotateZ(0deg);
  }

  to {
    transform: translateX(3px) rotateZ(10deg);
  }
}

@keyframes scared {
  from {
    transform: rotateZ(-80deg);
  }

  to {
    transform: rotateZ(50deg);
  }
}

.nav-gif {
  background-color: #a3ceb6;
  margin-right: 48%;
  padding: 10px 0;
}

.nav-animate {
  -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  margin: 20px 40px 10px;
  width: 150px;
}

.button-gif {
  background-color: #ecb099;
  margin-left: 45%;
  padding: 10px 0;
}

.button-animate {
  -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  margin: 20px 0 40px -20px;
  width: 150px;
}

.sticky-gif {
  background-color: #f9ce8b;
  margin-right: 48%;
  padding: 10px 0;
}

.sticky-animate {
  -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  margin: 50px 40px 25px;
  width: 150px;
}

.logo {
  max-width: 50px;
}

.behance:hover {
  fill: #fff;
}

.top-button {
  text-align: right;
}

.skills_col-md-4 li,
.skills_software_col-md-4 li {
  text-align: left;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: center;
  padding: 10px 0 5px;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

header {
  padding: 10px 0 4px;
  background-color: #f2f2f2;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  opacity: 0.98;
  -webkit-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
}

ul.social-media-list {
  list-style-type: none;
  margin: 30px 0 0;
  padding: 0;
}

ul.social-media-list li {
  display: inline-block;
  margin: 10px;
}

#return-to-top {
  visibility: hidden;
}

main {
  padding-top: 77px;
}

/* Animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Responsive Web (Media Queries) */
@media only screen and (min-width: 640px) {
  /* Work Page */
  .logo {
    max-width: 50px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: 0;
  }

  .navtoggle.responsive nav {
    padding-top: 6px;
  }

  nav > ul > li {
    display: inline-block;
  }

  header {
    text-align: unset;
    padding: 10px 0 0;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 6px;
  }

  nav > ul {
    margin: 1em 0;
  }

  body {
    font-size: 18px;
  }

  #work {
    padding-top: 20px;
    font-size: 16px;
  }

  #hero span {
    display: block;
    margin-bottom: 20px;
  }

  .column.col-md-6 {
    width: 50%;
    padding: 10px;
  }

  .column.col-md-6 h3 {
    padding-top: 0;
    display: inline;
  }

  .social-links {
    width: 16.66%;
    float: left;
  }

  .footer-container h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  /* Portfolio Case Study */
  .nav-gif {
    background-color: #a3ceb6;
    margin-right: 48%;
    padding: 10px 0;
  }

  .nav-animate {
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    margin: 70px 125px 25px;
    width: 250px;
  }

  .button-gif {
    background-color: #ecb099;
    margin-left: 45%;
    padding: 10px 0;
  }

  .button-animate {
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    margin: 30px 0 70px -50px;
    width: 250px;
  }

  .sticky-gif {
    background-color: #f9ce8b;
    margin-right: 48%;
    padding: 10px 0;
  }

  .sticky-animate {
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    margin: 70px 150px 30px;
    width: 250px;
  }

  /* Sticky Return Button */
  #return-to-top {
    visibility: visible;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 13px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /* Beam Case Study */
  .row.thumbnail,
  .row.animation,
  .row.alien2 {
    padding-left: 50px;
  }

  .row.thumbnail p,
  .row.animation p,
  .row.alien2 p {
    padding: 0 220px 0 0;
    margin-bottom: 75px;
  }

  .row.light_p {
    padding-left: 50px;
    padding-right: 280px;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .row.intro {
    margin: 0 35px 50px;
  }

  .css-column.col-6 {
    width: 60%;
  }

  .css-column.col-6 p {
    padding-right: 62px;
  }

  .css-column.col-3 {
    width: 20%;
  }

  .css-column.col-3 ul {
    padding-left: 0;
  }

  .row.results {
    margin: 50px 30px;
  }

  .row.end {
    margin-bottom: 25px;
  }

  .row.svg,
  .row.light,
  .row.alien1 {
    padding-left: 280px;
  }

  .row.svg p,
  .row.light p,
  .row.alien1 p {
    padding: 0 32px 0 0;
    margin-bottom: 75px;
  }

  /* About Page */
  .row.about {
    margin-top: 80px;
  }

  .story-header {
    text-align: center;
  }

  .about-column.col-12 {
    width: 100%;
    margin-top: 20px;
  }

  .about-column.col-12 img {
    padding: 25px 75px 0;
  }

  .about-column.col-12 h2 {
    display: inline;
    padding: 0 15px;
    margin-top: 20px;
  }

  .row.resume {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .skills_col-md-4 {
    width: 33.33%;
  }

  .skills_col-md-4 h2 {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
  }

  .skills_software_col-md-4 {
    width: 33.33%;
  }

  .skills_software_col-md-4 h2 {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
  }

  .skills_software_col-md-4 ul li {
    margin: 0 20px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 83px;
  }
}

@media only screen and (min-width: 1024px) {
  /* Work Page */
  .logo {
    max-width: 75px;
    margin-top: 0;
    margin-left: 15px;
  }

  .footer-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    font-size: 20px;
    padding-top: 6px;
  }

  .nav-gif {
    background-color: #a3ceb6;
    margin-right: 35%;
    padding: 10px 0;
  }

  .nav-animate {
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    margin: 60px 50% 10px;
    width: 550px;
  }

  .button-gif {
    background-color: #ecb099;
    margin-left: 45%;
    padding: 10px 0;
  }

  .button-animate {
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    margin: 35px 0 80px -80px;
    width: 550px;
  }

  .sticky-gif {
    background-color: #f9ce8b;
    margin-right: 35%;
    padding: 10px 0;
  }

  .sticky-animate {
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    margin: 70px 55% 30px;
    width: 550px;
  }

  #hero h1 {
    margin: 100px 0 25px;
    font-size: 90px;
  }

  #hero span {
    margin: 0 100px 100px;
    font-size: 2.25em;
    font-weight: 500;
  }

  /* Beam Case Study */
  .row.thumbnail h2,
  .row.svg h2,
  .row.animation h2,
  .row.intro h2,
  .row.results h2 {
    font-size: 36px;
    color: #2f2e41;
  }

  .row.animation h3,
  .row.light h3,
  .row.alien1 h3,
  .row.alien2 h3,
  .row.intro h3 {
    font-weight: 700;
    font-size: 24px;
    color: #3572e9;
  }

  .row.results {
    margin: 50px 125px;
  }

  .row.results p {
    font-size: 18px;
  }

  .row.end h1 {
    font-size: 48px;
  }

  .row.end h2 {
    font-size: 36px;
  }

  .row.intro {
    margin: 0 35px 100px;
  }

  .css-column.col-6 {
    width: 50%;
    margin: 0 15px 0 30px;
  }

  .css-column.col-6 p {
    font-size: 18px;
    padding-right: 110px;
  }

  .css-column.col-3 {
    width: 22.5%;
  }

  .css-column.col-3 ul {
    padding-left: 0;
    margin-right: 10px;
  }

  .css-column.col-3 ul li {
    font-size: 18px;
  }

  .row.thumb_img {
    margin: 25px 90px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.svg_img {
    width: 50%;
    margin: 25px 90px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.ship_img {
    width: 50%;
    margin: 25px 450px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.light_img {
    width: 50%;
    margin: 25px 90px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .css-column.col-md-6 {
    width: 50%;
    margin: 25px 450px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.alien1_img {
    width: 50%;
    margin: 25px 90px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.alien2_img {
    width: 50%;
    margin: 25px 450px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.thumbnail,
  .row.animation,
  .row.alien2 {
    padding-left: 150px;
  }

  .row.thumbnail p,
  .row.animation p,
  .row.alien2 p {
    font-size: 18px;
    padding: 0 350px 0 0;
  }

  .row.light_p {
    font-size: 18px;
    padding-left: 150px;
    padding-right: 350px;
  }

  .row.svg,
  .row.light,
  .row.alien1 {
    padding-left: 500px;
  }

  .row.svg p,
  .row.light p,
  .row.alien1 p {
    font-size: 18px;
    padding: 0 90px 0 0;
  }

  /* About Page */
  .row.about {
    margin-top: 100px;
  }

  .story-header {
    text-align: left;
  }

  .about-column.col-7 img {
    padding: 0 50px 0 25px;
  }

  .about-column.col-7 {
    width: 58.33%;
    float: left;
  }

  .about-column.col-5 {
    text-align: left;
    width: 41.66%;
    float: left;
  }

  .about-column.col-5 h2 {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 0;
  }

  #about-hero h2 {
    text-align: center;
  }

  .row.resume {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .footer-container h2 {
    font-size: 2.75em;
    font-weight: 700;
  }

  .skills_col-md-4 ul li {
    margin: 0 45px;
  }

  .skills_software_col-md-4 ul li {
    margin: 0 70px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 101px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Beam Case Study */
  .row.thumbnail h2,
  .row.svg h2,
  .row.animation h2,
  .row.intro h2,
  .row.results h2 {
    font-size: 38px;
    color: #2f2e41;
  }

  .row.animation h3,
  .row.light h3,
  .row.alien1 h3,
  .row.alien2 h3,
  .row.intro h3 {
    font-weight: 700;
    font-size: 30px;
    color: #3572e9;
  }

  .row.results {
    margin: 50px 165px;
  }

  .row.results p {
    font-size: 26px;
  }

  .row.end {
    margin-bottom: 50px;
  }

  .row.end h1 {
    font-size: 60px;
  }

  .row.end h2 {
    font-size: 48px;
  }

  .row.intro {
    margin: 0 35px 100px;
  }

  .css-column.col-6 {
    width: 50%;
    margin: 0 15px 0 50px;
  }

  .css-column.col-6 p {
    font-size: 26px;
    padding-right: 110px;
  }

  .css-column.col-3 {
    width: 22.5%;
  }

  .css-column.col-3 ul {
    padding-left: 0;
    margin-right: 10px;
  }

  .css-column.col-3 ul li {
    font-size: 26px;
  }

  .row.thumb_img {
    margin: 25px 90px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.svg_img {
    width: 50%;
    margin: 50px 150px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.ship_img {
    width: 50%;
    margin: 50px 600px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.light_img {
    width: 50%;
    margin: 50px 150px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .css-column.col-md-6 {
    width: 50%;
    margin: 50px 600px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.alien1_img {
    width: 50%;
    margin: 50px 150px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.alien2_img {
    width: 50%;
    margin: 50px 600px 100px;
    -webkit-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 8px rgba(50, 50, 50, 0.75);
  }

  .row.thumbnail,
  .row.animation,
  .row.alien2 {
    padding-left: 300px;
  }

  .row.thumbnail p,
  .row.animation p,
  .row.alien2 p {
    font-size: 26px;
    padding: 0 550px 0 0;
  }

  .row.light_p {
    font-size: 26px;
    padding-left: 300px;
    padding-right: 490px;
  }

  .row.svg,
  .row.light,
  .row.alien1 {
    padding-left: 700px;
  }

  .row.svg p,
  .row.light p,
  .row.alien1 p {
    font-size: 26px;
    padding: 0 150px 0 0;
  }

  /* About Page */
  .row.about {
    margin-top: 100px;
  }

  .story-header {
    text-align: left;
  }

  .about-column.col-7 {
    width: 50%;
    float: left;
    margin-left: 50px;
  }

  .about-column.col-5 {
    text-align: left;
    width: 41.66%;
    float: left;
  }

  .about-column.col-5 h2 {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 0;
  }

  #about-hero h2 {
    text-align: center;
  }

  .row.resume {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .footer-container h2 {
    font-size: 2.75em;
    font-weight: 700;
  }

  .skills_col-md-4 ul li {
    margin: 0 115px;
  }

  .skills_software_col-md-4 ul li {
    margin: 0 140px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 101px;
  }
}
