/*
Color:
Primary: #417CA9
Accent:#EDEBE4
White: #FFFFFF
Text: #000000
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  font-weight: 300px;
  line-height: 1.6;
}

main {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300px;
  line-height: 1.6;
  color: #000000;
}

footer {
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.project-button {
  display: inline-block;
  background-color: #EDEBE4;
  color: #417CA9;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.8s opacity;
}

.email-button {
  display: inline-block;
  background-color: #417CA9;
  color: #EDEBE4;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 30px 2px;
  margin: 15px;
  border-radius: 0px;
  transition: 0.8s opacity;
}

.top-button {
  display: inline-block;
  background-color: #EDEBE4;
  color: #417CA9;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #EDEBE4;
  transition: 0.8s opacity;
  text-decoration: none;
}

.resume-button {
  display: inline-block;
  background-color: #EDEBE4;
  color: #417CA9;
  font-weight: 400;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 2px solid #EDEBE4;
  transition: 0.8s opacity;
  text-decoration: none;
}

.resume-button:hover, .resume-button:focus {
  background-color: #417CA9;
  color: #EDEBE4;
  opacity: 0.8;
}

.top-button:hover, .top-button:focus {
  background-color: #417CA9;
  color: #EDEBE4;
}

.email-button:hover, .email-button:focus {
  background-color: #417CA9;
  color: #EDEBE4;
  opacity: 0.8;
}

.project-button:hover, .project-button:focus {
  background-color: #417CA9;
  color: #EDEBE4;
  opacity: 0.8;
}

.menu-button {
  color: #292929;
  text-decoration: none;
}

.icon {
  color: #292929;
}

.menu-button:hover, .menu-button:focus {
  color: #b7b7b7;
  text-decoration: underline;
}

.resume-link {
  color: #000000;
}

.resume-link:visited {
  color: #417CA9;
}

.resume-link:hover, .resume-link:focus {
  color: ##85C1E9;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.about_row {
  margin-bottom: 50px;
}

.resume_column_col-12 {
  text-align: center;
}

.column.col-md-6.col-lg-7 {
  border: 1px solid #f2f2f2;
}

#hero {
  text-align: center;
  background-color: #417CA9;
  color: #EDEBE4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  background-color: #f2f2f2;
  padding: 20px 0px 0px 0px;
  display: inline-block;
  width: 100%;
}

#about-page {
  background-color: #FFFFFF;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

#me {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
}

#project-1 {
  background-color: #FFFFFF
}

#work h2 {
  text-align: center;
}

#contact h2 {
  margin: 50px 0px 30px 0px;
}

.about-column.col-12 img {
  padding: 0 25px;
}

.image-resume {
  display: inline;
}

.content {
  display: block;
}

.footer-container {
  text-align: center;
}

.center {
  text-align: center;
}

.interested {
  text-align: center;
  margin: 50px 15px;
}

#resume {
  text-align: center;
  padding-top: 20px;
}

.logo {
  max-width: 150px;
  margin-top: 10px;
}

.top-button {
  text-align: right;
}

.return {
  text-align: right;
}

#about-hero h2 {
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0 5px;
  border-top: 1px solid rgba(65, 124, 169, 0.3);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

header {
  padding: 10x 0 4px;
  background-color: #f2f2f2;
  opacity: 0.98;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
}

ul.social-media-list {
  list-style-type: none;
  margin: 30px 0px 0px 0px;
  padding: 0;
}

ul.social-media-list li {
  display: inline-block;
  margin: 10px;
}

main {
  padding-top: 48px;
}

/* Animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*---Responsive Web (Media Queries)---*/
@media only screen and (min-width: 640px) {

  /* Work Page */
  .logo {
    max-width: 250px;
    margin-top: 5px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul>li {
    display: inline-block;
  }

  header {
    text-align: unset;
    padding: 20px 0 14px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  body {
    font-size: 18px;
  }

  #work {
    padding-top: 20px;
    font-size: 16px;
  }

  #hero span {
    display: block;
  }

  .column.col-md-6 {
    width: 50%;
    padding: 10px;
  }

  .column.col-md-6 h3 {
    padding-top: 0px;
    display: inline;
  }

  .social-links {
    width: 16.66%;
    float: left;
  }

  /* About Page */
  .about-column.col-12 {
    width: 100%;
  }

  .about-column.col-12 img {
    padding: 25px 75px 0px;
  }

  .resume_column_col-12 {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .skills_col-md-4 {
    width: 33.33%;
  }

  .skills_software_col-md-4 {
    width: 33.33%;
  }

  .skills_software_col-md-4 ul li {
    margin: 0 20px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1024px) {

  /* Work Page */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    font-size: 20px;
  }

  #hero h1 {
    margin: 100px 0px 25px 0px;
  }

  #hero span {
    margin: 0px 100px 100px;
    font-size: 1.35em;
    font-weight: 400;
  }

  .column .col-lg-7 {
    width: 58.33%;
  }

  .column .col-lg-5 {
    width: 41.66%;
  }

  /* About Page */
  .about-column.col-12 {
    width: 100%;
  }

  .about-column.col-12 img {
    padding: 25px 100px;
  }

  .resume_column_col-12 {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .skills_col-md-4 ul li {
    margin: 0 65px;
  }

  .skills_software_col-md-4 ul li {
    margin: 0 85px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 100px;
  }
}
