* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

main {
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #000;
}

footer {
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.project-1 picture {
  display: block;
}

.project-1 img {
  display: block;
}

.project-2 picture {
  display: block;
}

.project-2 img {
  display: block;
}

.project-button {
  display: inline-block;
  background-color: #edebe4;
  color: #1e1f20;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s opacity;
}

.email-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 30px;
  margin: 15px;
  transition: 0.8s opacity;
}

.top-button {
  display: inline-block;
  background-color: #edebe4;
  color: #1e1f20;
  font-size: 31px;
  font-weight: 400;
  padding: 20px 100px;
  transition: 0.8s opacity;
  text-decoration: none;
}

.resume-button {
  display: inline-block;
  position: relative;
  background-color: #edebe4;
  color: #1e1f20;
  font-weight: 400;
  padding: 24px 20px 20px;
  transition: 0.8s opacity;
  text-decoration: none;
}

.icon {
  background-color: inherit;
  color: #292929;
}

.resume-button:hover {
  background-color: #a02e13;
  color: #fff;
  opacity: 0.9;
}

.email-button:hover {
  background-color: #fff;
  color: #000;
  opacity: 0.8;
}

.project-button:hover {
  background-color: #a02e13;
  color: #fff;
  opacity: 0.9;
}

.menu-button {
  display: inline-block;
  background-color: inherit;
  color: #292929;
  text-decoration: none;
}

.menu-button::before {
  position: absolute;
  color: #a02e13;
  overflow: hidden;
  content: attr(title);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.menu-button:hover::before {
  transform: scale(1);
  opacity: 1;
}

.menu-button::before {
  transform: scale(1.5);
}

.menu-button::after {
  content: '';
  position: relative;
  left: 30px;
  display: block;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(110, 110, 110, 0.9);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.menu-button:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.contact-menu-button {
  background-color: inherit;
  color: #292929;
  text-decoration: none;
  display: inline-block;
}

.contact-menu-button::before {
  position: absolute;
  color: #a02e13;
  overflow: hidden;
  content: attr(title);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.contact-menu-button:hover::before {
  transform: scale(1);
  opacity: 1;
}

.contact-menu-button::before {
  transform: scale(1.5);
}

.contact-menu-button::after {
  content: '';
  position: relative;
  left: 44px;
  display: block;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: rgba(110, 110, 110, 0.9);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

.contact-menu-button:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.resume-link {
  background-color: inherit;
  color: #000;
}

.resume-link:visited {
  background-color: inherit;
  color: #417ca9;
}

.resume-link:hover {
  background-color: inherit;
  color: #85c1e9;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  font-family: 'Nunito', sans-serif;
}

.resume_column_col-12 {
  text-align: center;
}

#hero {
  text-align: center;
  background-color: #1e1f20;
  color: #edebe4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  background-color: #fff;
  color: #1e1f20;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work h2,
h3,
p {
  color: #4a4d4f;
}

#contact {
  background-color: #3a3c41;
  color: inherit;
  padding: 20px 0 0;
  display: inline-block;
  width: 100%;
}

#contact p {
  background-color: inherit;
  color: #fff;
}

#about-hero {
  background-color: #fff;
  color: inherit;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  width: 100%;
}

#about-hero .row {
  color: #1e1f20;
}

#me {
  background-color: #fff;
  color: inherit;
  display: inline-block;
  width: 100%;
}

#project-1 {
  background-color: #fff;
  color: inherit;
}

#work h2 {
  text-align: center;
}

#contact h2 {
  margin: 50px 30px 30px;
}

#resume {
  text-align: center;
  padding-top: 20px;
}

#return-to-top:hover {
  background: rgba(160, 46, 19, 1);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.aliens {
  width: 100%;
  height: auto;
  background-color: #dedede;
}

.prototype {
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.prototype iframe {
  background-color: transparent;
  border: none;
  border-width: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.about-column.col-12 img {
  padding: 0 25px;
}

.about-column.col-12 h2 {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 500;
  background-color: #a02e13;
  color: #fff;
}

.row.about {
  margin-top: 50px;
}

.story-header {
  text-align: center;
}

.story {
  font-family: Nunito, sans-serif;
  color: #1e1f20;
}

.row.resume {
  margin-top: 30px;
  text-align: center;
}

.image-resume {
  display: inline;
}

.content {
  display: block;
}

.footer-container {
  text-align: center;
}

.footer-container h2 {
  font-size: 30px;
  background-color: inherit;
  color: #fff;
}

.center {
  text-align: center;
}

.interested {
  color: #1e1f20;
  text-align: center;
  margin: 50px 15px;
}

#ship {
  animation: ship-move 0.2s linear infinite alternate;
}

@keyframes ship-move {
  from {
    transform: translateY(-2px);
  }

  to {
    transform: translateY(2px);
  }
}

#beam {
  animation: beams 1s linear infinite;
}

@keyframes beams {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(-100px);
  }
}

#alien2 {
  animation: alien-move 0.8s linear alternate infinite;
}

@keyframes alien-move {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

#alien2_left_arm {
  animation: scared 0.2s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

#alien2_right_arm {
  animation: scared 0.2s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

#alien2_right_leg {
  animation: kick 0.2s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

#alien2_left_leg {
  animation: kicks 0.2s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

#alien2_pupil {
  animation: back_forth 1s linear alternate infinite;
}

#alien2_mouth {
  animation: scream 0.5s linear alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#alien2_hat {
  animation: float 0.35s linear alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#alien1_left_leg {
  animation: left_step 0.1s linear alternate infinite;
}

#alien1_right_leg {
  animation: right_step 0.1s linear alternate infinite;
}

#alien1_body,
#alien1_hat {
  animation: body_move 0.1s linear alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#alien1_pupil {
  animation: eye_move 0.5s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#alien1_eyeball {
  animation: eye_grow 1s linear alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#alien1_mouth {
  animation: mouth_small 0.3s ease-in-out alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#alien1_right_arm {
  animation: point 0.1s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

#alien1_left_arm {
  animation: swing 0.1s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes swing {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(20deg);
  }
}

@keyframes point {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(20deg);
  }
}

@keyframes mouth_small {
  from {
    transform: scaleX(0.8);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes eye_grow {
  from {
    transform: scale(1.25);
  }

  to {
    transform: scale(1.3);
  }
}

@keyframes eye_move {
  from {
    transform: translateX(-1) translateY(-1);
  }

  to {
    transform: translateX(1px) translateY(-2px);
  }
}

@keyframes body_move {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1.1);
  }
}

@keyframes left_step {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

@keyframes right_step {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes float {
  from {
    transform: translateY(-20px) rotateZ(-30deg);
  }

  to {
    transform: translateY(-40px) rotateZ(30deg);
  }
}

@keyframes scream {
  from {
    transform: scaleX(0.5) scaleY(0.5);
  }

  to {
    transform: scaleX(1) scaleY(1.5);
  }
}

@keyframes back_forth {
  from {
    transform: translate(-2px);
  }

  to {
    transform: translate(2px);
  }
}

@keyframes kicks {
  from {
    transform: translateX(2) rotateZ(0deg);
  }

  to {
    transform: translateX(-2px) rotateZ(20deg);
  }
}

@keyframes kick {
  from {
    transform: translateX(-2px) rotateZ(0deg);
  }

  to {
    transform: translateX(3px) rotateZ(10deg);
  }
}

@keyframes scared {
  from {
    transform: rotateZ(-80deg);
  }

  to {
    transform: rotateZ(50deg);
  }
}

.logo {
  max-width: 100px;
  margin-top: 10px;
}

.behance:hover {
  fill: #fff;
}

.top-button {
  text-align: right;
}

.skills_col-md-4 li,
.skills_software_col-md-4 li {
  text-align: left;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0 5px;
  border-top: 1px solid rgba(65, 124, 169, 0.3);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

header {
  padding: 10px 0 4px;
  background-color: #f2f2f2;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  opacity: 0.98;
  -webkit-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
}

ul.social-media-list {
  list-style-type: none;
  margin: 30px 0 0;
  padding: 0;
}

ul.social-media-list li {
  display: inline-block;
  margin: 10px;
}

main {
  padding-top: 60px;
}

/* Animation */
@keyframes color-change {
  0% { fill: #edc655; }

  50% { fill: #fcffad; }

  100% { fill: #f76414; }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Responsive Web (Media Queries) */

@media only screen and (min-width: 640px) {
  /* Work Page */

  .logo {
    max-width: 150px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: 0;
  }

  .navtoggle.responsive nav {
    padding-top: 6px;
  }

  nav > ul > li {
    display: inline-block;
  }

  header {
    text-align: unset;
    padding: 10px 0 0;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 6px;
  }

  nav > ul {
    margin: 1em 0;
  }

  body {
    font-size: 18px;
  }

  #work {
    padding-top: 20px;
    font-size: 16px;
  }

  #hero span {
    display: block;
    margin-bottom: 20px;
  }

  .column.col-md-6 {
    width: 50%;
    padding: 10px;
  }

  .column.col-md-6 h3 {
    padding-top: 0;
    display: inline;
  }

  .social-links {
    width: 16.66%;
    float: left;
  }

  .footer-container h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 13px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  /* About Page */

  .row.about {
    margin-top: 80px;
  }

  .story-header {
    text-align: center;
  }

  .about-column.col-12 {
    width: 100%;
    margin-top: 20px;
  }

  .about-column.col-12 img {
    padding: 25px 75px 0;
  }

  .about-column.col-12 h2 {
    display: inline;
    padding: 0 15px;
    margin-top: 20px;
  }

  .row.resume {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .skills_col-md-4 {
    width: 33.33%;
  }

  .skills_col-md-4 h2 {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
  }

  .skills_software_col-md-4 {
    width: 33.33%;
  }

  .skills_software_col-md-4 h2 {
    font-size: 1.75em;
    font-weight: 700;
    text-align: center;
  }

  .skills_software_col-md-4 ul li {
    margin: 0 20px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 87px;
  }
}

@media only screen and (min-width: 1024px) {
  /* Work Page */

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    font-size: 20px;
    padding-top: 6px;
  }

  #hero h1 {
    margin: 100px 0 25px;
    font-size: 90px;
  }

  #hero span {
    margin: 0 100px 100px;
    font-size: 2.25em;
    font-weight: 500;
  }

  /* About Page */

  .row.about {
    margin-top: 100px;
  }

  .story-header {
    text-align: left;
  }

  .about-column.col-7 {
    width: 58.33%;
    float: left;
  }

  .about-column.col-5 {
    text-align: left;
    width: 41.66%;
    float: left;
  }

  .about-column.col-5 h2 {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 0;
  }

  #about-hero h2 {
    text-align: center;
  }

  .row.resume {
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }

  .footer-container h2 {
    font-size: 2.75em;
    font-weight: 700;
  }

  .skills_col-md-4 ul li {
    margin: 0 77px;
  }

  .skills_software_col-md-4 ul li {
    margin: 0 102px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  main {
    padding-top: 89px;
  }
}
